<div class="container card p-5 m-2 shadow">
    <h1>Welcome to UUSUDND!</h1>
    <p class="p-2">Welcome to Ulster University's biggest tabletop RPG society. We run D&amp;D events throughout the year so join us for some awesome adventures through roleplay and boss battles. Let the dice decide your fate!</p>

    <div class="row">
        <div class="col-md-8 container">
            <h2>Upcoming Events</h2>
            {{#each events}}
            <div class="card mb-3 shadow">
                <div class="row g-0">
                    <div class="col-md-4 bg-dark rounded eventImage">
                        <img src={{#if this.imageLink}}"{{this.imageLink}}"{{else}}"images/event.jpg"{{/if}} class="img-fluid rounded opacity-75">
                    </div>
                    <div class="col-md-8 d-flex align-items-end flex-column">
                        <div class="card-body me-auto">
                            <h4 class="card-title">{{this.title}}</h4>
                            <p class="card-text"><small class="text-body-secondary">Date: {{this.start}}<br>Location: {{this.location}}</small></p>
                            <p class="card-text">{{this.description}}</p>
                        </div>
                        {{#if this.ticketLink}}
                        <a href="{{this.ticketLink}}" class="btn btn-secondary mt-auto m-2">Tickets <i data-feather="arrow-right"></i></a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{else}}
            <p>There are no upcoming events.</p>
            {{/each}}
        </div>
        <div class="col-md-4">
            <div class="container card alert info-card shadow">
                <div class="card-body">
                    <h5 class="card-title">Open Games</h5>
                    <p class="card-text">View our list of groups who are looking for players!</p>
                    <a href="#" class="btn btn-secondary">See Groups <i data-feather="arrow-right"></i></a>
                </div>
            </div>
            <div class="container card alert info-card shadow">
                <div class="card-body">
                    <h5 class="card-title">Contact</h5>
                    <p class="card-text">View our contact info and where to find us!</p>
                    <a href="#" class="btn btn-secondary">Get in touch <i data-feather="arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    
</div>

